<style>
  div h4, div p, a{
    font-family: Inconsolata;
  }
</style>
      <div class="hero">
        <div class="row">
          <div class="large-12 columns intro-text">
<!--             <p>badass color picture</p>
 -->          </div>
        </div>
      </div>

      <div class="row about">
        <div class="medium-6 large-8 columns">
          <h4>About</h4>
          <p>My overarching passion in life is helping others discover and find abundance through their own unique passions. I believe the world will be a much better place when people are taught, encouraged, and helped to achieve suceess within their passions.<p>

          <p>I want to attract the people and the resources to create teams with culture dedicated to achieving the fullest expressions of ourselves. A community that is out to teach others that doing what you love to do more of is the most direct route to loving your life.</p>

          <p>Specifically web applications and software is an immensely interesting and edgy field that provides me with endless amounts of creativity and passion for development/creation.</p>

          <p>I'm interested in making a cultural shift globally through the products <b><em>we</b></em> create.  If you want a developer who can think like the end user.  A developer that can communicate at levels only CEO's were thought to have.  A developer with proven leadership experience.  A developer who understands the <em>'why'</em> of any business, and is striving to develop products, teams, and people that supply the customer with a <b><em> <%= link_to 'badass', href="http://businessofsoftware.org/2013/02/kathy-sierra-building-the-minimum-badass-user-business-of-software-a-masterclass-in-thinking-about-software-product-development/" %></b></em> approach to life, it's a pleasure to meet you.</p>
          <p>Welcome to my page, I'm looking forward to getting to know you better.</p>
        </div>
        <div class="medium-6 large-4 columns">
          <img src="http://placehold.it/550x300">
        </div>
      </div>

      <div class="row work">
        <hr>
        <div class="large-12 columns">
          <h4>Work</h4>
          <p>Click on each image to view my work!</p>

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li>
              <a href="http://placehold.it/550x300">
              <img data-caption="caption here" src="http://placehold.it/550x300"></a>
            </li>
            <li>
              <a href="http://placehold.it/550x300"><img data-caption="caption 2 here..." src="http://placehold.it/550x300"></a>
            </li>
            <li>
              <a href="http://placehold.it/550x300"><img data-caption="caption 3 here..." src="http://placehold.it/550x300"></a>
            </li>
            <li>
              <a href="http://placehold.it/550x300"><img data-caption="caption 4 here..." src="http://placehold.it/550x300"></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row contact">
        <hr>
        <div class="large-12 columns">
          <h4>Contact Me</h4>
          <div class="large-4 columns">
            <strong>Email</strong>: <a href="#"><span class="__cf_email__" data-cfemail="f9949cb9948089968b8d9f96959096d79a9694">[email protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>
          </div>
          <div class="large-4 columns">
            <strong>Twitter</strong>: @twitterhandle
          </div>
          <div class="large-4 columns">
            <strong>Phone</strong>: 555-555-1234
          </div>
        </div>
      </div>

      <footer class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Suscribe</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>


      <script src="js/foundation/foundation.clearing.js"></script>


