<h1>Welcome</h1>
<h3>Hello World!  I'm Brian.</h3>
<p>You have just struck luck if you have landed here.  You're looking for a developer who knows how to build web applications front to back. You need full stack authority but that just the surface of what I provide.

  <p> what you really want is a developer who can think like the end user.  A developer that can communicate at levels only CEO's were thought to have.  A developer with proven leadership experience in a sales context.  A developer who understands the WHY of any business, and is striving to develop product, teams, and people that supply the customer with a <a href="http://businessofsoftware.org/2013/02/kathy-sierra-building-the-minimum-badass-user-business-of-software-a-masterclass-in-thinking-about-software-product-development/">'badass'</a> approach.</p>
  <br>
  <p>Pleasure to meet you, my name is Brian Ray</p>
