<!--
<style>
  div h4, div p, a{
    font-family: 'Inconsolata';
  }
</style>
 -->
      <div class="hero">
        <div class="row">
          <div class="large-12 columns intro-text">
            <p>After climbing a great hill, one only finds that there are many more hills to climb.</p>
            <p>- Nelson Mandela</p>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="row about">
          <div class="medium-6 large-8 columns">
            <h4>What's a 'BAR RAISER'?</h4>

            <p>I'm inspired to work with people who consistently bring a positive/passionate energy into the workplace. They adapt, flex, bend, and take ownership and personal responsibility in everything they do. They aren't order takers, they challenge the status quo and pursue the best possible solutions. They develop good habits, proactively seek feedback, and always have vision for the best version of themselves. They are the team players that encourage, collaborate, and corroborate with other team members, thus making the team better. These 'bar raisers' radiate, cultivate, and propogate leadership.</p>

            <p>My overarching passion in life is helping others discover and find abundance through their own unique passions. I believe the world will be a much better place when people are taught, encouraged, and coached to achieve success within their passions.</p>

            <p>I'm captivated by Information Technology and enthralled with the computer's ability to track, compute, and organize data.  I'm facinated with the mind, pathology and its direct result of life's experience.  I aim to create products that build awareness and provide focus for the individual.  I believe A.I. and robots have a significant role to play in personal development.</p>

            <p>If you want a 'bar raiser' with a track record for growth, a team player with proven communication skills, and a leader who desires that his team win before himself, its a pleasure to meet you.</p>

            <p>I've done my best to become the '<strong><em>bar raiser</em></strong>' I want on my team.</p>
          </div>
          <div class="medium-6 large-4 columns">
            <img src="<%= asset_path 'headshotCF2square.jpg' %>" />
          </div>
        </div>

        <div class="row work">
          <hr>
          <div class="large-12 columns">
            <h4>Work</h4>
            <p>Click on each image to view my work!</p>

            <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
              <li>
                <a href="http://test.casehawk.net">
                <img data-caption="CaseHawk/reports tab" src="<%= asset_path 'casehawk-thumb.jpg' %>"></a>
              </li>
              <li>
                <a href="http://ignitebot.com"><img data-caption="IgniteBot thumbnail" src="<%= asset_path 'ignitebot-thumb.jpg' %>"></a>
              </li>
   <!--            <li>
                <a href="http://placehold.it/550x300"><img data-caption="caption 3 here..." src="http://placehold.it/550x300"></a>
              </li>
              <li>
                <a href="http://placehold.it/550x300"><img data-caption="caption 4 here..." src="http://placehold.it/550x300"></a>
              </li> -->
            </ul>
          </div>
        </div>

        <script src="js/foundation/foundation.clearing.js"></script>
      </div>
