<style>
  div h4, div p, a{
    font-family: 'Inconsolata';
  }
</style>
      <div class="hero">
        <div class="row">
          <div class="large-12 columns intro-text">
            <p>After climbing a great hill, one only finds that there are many more hills to climb.</p>
            <p>- Nelson Mandela</p>
          </div>
        </div>
      </div>
      <div class="row about">
        <div class="medium-6 large-8 columns">
          <h4>About</h4>
          <p>My overarching passion in life is helping others discover and find abundance through their own unique passions. I believe the world will be a much better place when people are taught, encouraged, and helped to achieve success within their passions.<p>

          <p>I want to attract the people and the resources to create teams with culture dedicated to achieving the fullest expressions of ourselves. A community that is out to teach others that doing what you love to do more of is the most direct route to loving your life.</p>

          <p>Specifically web applications and software is an immensely interesting and edgy field that provides me with endless amounts of creativity and passion for development/creation.</p>

          <p>I'm interested in making a cultural shift globally through the products <b><em>we</b></em> create.  If you want a developer who can think like the end user.  A developer that can communicate at levels only CEO's were thought to have.  A developer with proven leadership experience.  A developer who understands the <em><%= link_to 'why', href= "https://www.youtube.com/watch?v=u4ZoJKF_VuA" %></em> of any business, and is striving to develop products, teams, and people that supply the customer with a <b><em> <%= link_to 'badass', href="http://businessofsoftware.org/2013/02/kathy-sierra-building-the-minimum-badass-user-business-of-software-a-masterclass-in-thinking-about-software-product-development/" %></b></em> approach to life, it's a pleasure to meet you.</p>
          <p>Welcome to my page, I'm looking forward to getting to know you better.</p>
        </div>
        <div class="medium-6 large-4 columns">
          <img src= <%= asset_path "headshotCF2copy.jpg" %> >
        </div>
      </div>

      <div class="row work">
        <hr>
        <div class="large-12 columns">
          <h4>Work</h4>
          <p>Click on each image to view my work!</p>

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li>
              <a href="http://placehold.it/550x300">
              <img data-caption="caption here" src="http://placehold.it/550x300"></a>
            </li>
            <li>
              <a href="http://placehold.it/550x300"><img data-caption="caption 2 here..." src="http://placehold.it/550x300"></a>
            </li>
            <li>
              <a href="http://placehold.it/550x300"><img data-caption="caption 3 here..." src="http://placehold.it/550x300"></a>
            </li>
            <li>
              <a href="http://placehold.it/550x300"><img data-caption="caption 4 here..." src="http://placehold.it/550x300"></a>
            </li>
          </ul>
        </div>
      </div>

      <script src="js/foundation/foundation.clearing.js"></script>
