<div class="body">
  <div class="resume">
    <img src="<%= asset_path 'BrianRay_Dev_1_25.jpg'%>" caption="resume pdf format" />
    <%= link_to "download pdf", asset_path('BrianRay_Dev_1_25.pdf'), class: "button" %>
  </div>
</div>
