<div class="body">
  <div class="resume">
    <img src="<%= asset_path 'CFResume2.0.jpg' %>" caption="resume jpeg format" />
    <%= link_to "Download PDF", asset_path('CFResume2.0.pdf'), class: "button" %>
  </div>
</div>
