<div class="body">
  <div class="resume">
    <img src="<%= asset_path "Resume11117.pdf"%>" caption="resume pdf format" />
    <%= link_to "Download PDF", asset_path('Resume11117.pdf'), class: "button" %>
  </div>
</div>
