<div class="row contact">
  <hr>
  <div class="large-12 columns">
    <h4>Contact Me</h4>
    <div class="large-3 columns">
      <strong>brian.ray.biz@gmail.com</strong>
    </div>
    <div class="large-3 columns">
      <strong>Twitter</strong>: @brayzen1
    </div>
    <div class="large-3 columns">
      <strong>Github</strong>: brayzen
    </div>
  </div>
</div>

<!-- <footer class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright Brian Ray 2015</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Suscribe</a></li>
        </ul>
      </div>
    </div>
  </div>
 -->
</br>
</br>
</footer>

<!--
<a href="#"><span class="__cf_email__" data-cfemail="f9949cb9948089968b8d9f96959096d79a9694">[email protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>

 -->
